.time-slot-wrapper {
    border-radius: 5px;
    background-color: #ebecf0;
    margin-bottom: 30px;

    h6 {
        padding: 10px 20px;
        margin: 0;
    }

    &>.slot-card {
        border-radius: 0;
    }
}